/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{text-decoration: none; margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

#wrap-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */
#head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: left;
    border: solid 2px #bbbbbb;
    width: 1265px;
    height: 49px;
    padding: 0 0 0 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    gap: 940px;
}

.header1 img {
    display: block;
    align-items: center;
    width: 66px;
    height: 20px;
}

.sidemenu{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.sidemenu img {
    width: 20px;
    height: 20px;
}

.sidemenu > .login {
    padding: 5px 0 0 30px;
    border: solid 1px #bbbbbb;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.header2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 15px;
    margin: 0 auto;
}

.header2 img {
    width: 180px;
    height: 21.32px;
    padding: 0 0 20px;
}

.storeinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    color: #767676;
    font-size: 12px;
}


/* categories */

#menu {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: solid 2px #bbbbbb;
    margin: 0 auto;
    width: 1280px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.categories {
    display: flex;
    justify-content: left;
    gap: 35px;
    font-size: 15px;
    /* padding: 60px 0 0 0; */
    padding: 25px 420px 15px 0;
    margin: 0 auto;
}

.search {
    display: flex;
    align-items: center;
    /* padding: 60px 0 10px 500px;
    margin: 0 auto; */
}

.search input {
    padding: 5px 39px 5px 15px;
    width: 218px;
    height: 34px;
    font-size: 15px;
    border: solid 1px #767676;
    border-radius: 5px;
}

/* banner */

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}

/* product */

#content1 {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 780px;
    height: 348px;
}

.title {
    display: flex;
    font-weight: 700;
    padding: 30px 2px 5px 0;
}

.innercontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll; 
    border-bottom: solid 10px #edf0f4;
    padding-bottom: 40px;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 150px;
    height: 280px;
}

.products img {
    width: 150px;
    height: 150px;
    border: solid 1px #e8e8e8;
    border-radius: 5%;
    filter: brightness(.97);
}

.products ul {
    list-style: none;
    font-size: 15px;
    margin-top: 10px;
}

.products li{
    padding: 5px 5px;
}

.products .price{
    font-weight:bold;
}

.products .sold {
    border: solid 1px #edf0f4;
    background-color: #edf0f4;
    width: 50px;
    height: 20px;
    padding: 6px 0 0 7px;
}

/* content2 */

#content2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 90px;
    gap: 90px;
}

#content2 img{
    width: 54px;
    height: 54px;
    border-radius: 25%;
}

#content2 .name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}
#content2-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 630px;
    padding-top: 30px;
    gap: 90px;
    padding-bottom: 45px;
}

#content2-2 img{
    width: 54px;
    height: 54px;
    border-radius: 25%;
}

#content2-2 .name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}

/* content3 */
#content3{
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 780px;
    height: 200px;
    border-top: solid 10px #edf0f4;
}

#content3 .title {
    display: flex;
    font-weight: 700;
    padding: 40px 5px;
}

#content3 .innercontent {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}

#content3 .products {
    display: flex;
    align-items: center;
    padding: 0px;
    width: 150px;
    height: 280px;
}

#content3 .products img {
    width: 156px;
    height: 156px;
    border: solid 1px #e8e8e8;
    border-radius: 5%;
    filter: brightness(.97);
}

#content3 .products ul {
    flex-direction: column;
    list-style: none;
    font-size: 15px;
    margin-top: 10px;
}

#content3 .products li{
    padding: 5px 5px;
}

#content3 .products .price{
    font-weight:bold;
}

#content3 .products .sold {
    border: solid 1px #edf0f4;
    background-color: #edf0f4;
    width: 50px;
    height: 20px;
    padding: 6px 0 0 7px;
}